In [4]:
import sqlite3
import pandas as pd

In [5]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

total_ventas = pd.read_sql_query("""
    SELECT SUM(precio_total) AS ingreso_total FROM tickets
""", conexion)
print(f"Ingreso total generado por el negocio: {total_ventas['ingreso_total'][0]:,.2f}")

# cerrar la conexión
conexion.close()

Ingreso total generado por el negocio: 39,854,875.32

In [6]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

tendencia_ventas = pd.read_sql_query("""
    SELECT strftime('%Y-%m', fecha) AS mes, SUM(precio_total) AS ingresos_mensuales 
    FROM  tickets
    GROUP BY mes
    ORDER BY mes
""", conexion)
print("\n Tendencia de ingresos mensuales: ")
print(tendencia_ventas)

conexion.close()

 Tendencia de ingresos mensuales:
        mes  ingresos_mensuales
0   2023-01          6673099.74
1   2023-02          4945202.53
2   2023-03          4725676.75
3   2023-04          3994824.12
4   2023-05          3626726.78
5   2023-06          3125001.00
6   2023-07          2937364.05
7   2023-08          2533350.46
8   2023-09          2343858.92
9   2023-10          2127269.84
10  2023-11          1637899.98
11  2023-12          1184601.15

In [18]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

departamento = pd.read_sql_query("""
    SELECT id_departamento, SUM(precio_total) AS rendimiento
    FROM tickets
    GROUP BY id_departamento
    ORDER BY rendimiento DESC
""", conexion)

conexion.close()

print("\n Rendimiento de cada departamento: ")
print(departamento)

 Rendimiento de cada departamento:
   id_departamento  rendimiento
0                4  37003251.70
1               16   1529354.77
2               20    946220.85
3                7    376048.00

In [19]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

secciones = pd.read_sql_query("""
    SELECT id_seccion, SUM(precio_total) AS ventas
    FROM tickets
    GROUP BY id_seccion
    ORDER BY ventas DESC
""", conexion)

conexion.close()

print("\n Ventas entre las diferentes secciones: ")
print(secciones)

 Ventas entre las diferentes secciones:
   id_seccion       ventas
0          24  20879374.69
1         123   8634823.85
2          83   7237312.87
3          67    946220.85
4          53    821420.62
5          84    707934.15
6         115    376048.00
7          16    251740.29

In [23]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

producto = pd.read_sql_query("""
    SELECT nombre_producto, SUM(cantidad) AS cantidad_vendida
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY cantidad_vendida DESC
    LIMIT 10
""", conexion)

conexion.close()

print("\nLos 10 productos más vendidos en cantidad:")
print(producto)

Los 10 productos más vendidos en cantidad:
              nombre_producto  cantidad_vendida
0                      Banana           2460324
1  Bolsa de Bananas Orgánicas           1976709
2            Fresas Orgánicas           1381309
3    Espinacas Baby Orgánicas           1258330
4      Aguacate Hass Orgánico           1104957
5           Aguacate Orgánico            923461
6                Limón Grande            804752
7                      Fresas            748065
8                     Limones            733736
9       Leche Entera Orgánica            715085

In [24]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

producto = pd.read_sql_query("""
    SELECT nombre_producto, SUM(precio_total) AS ingresos
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY ingresos DESC
    LIMIT 10
""", conexion)

conexion.close()

print("\nLos 10 productos que generan más ingresos:")
print(producto)

Los 10 productos que generan más ingresos:
              nombre_producto    ingresos
0  Bolsa de Bananas Orgánicas  4842937.05
1            Fresas Orgánicas  3439459.41
2                      Banana  2583340.20
3        Frambuesas Orgánicas  2032919.25
4      Aguacate Hass Orgánico  1977873.03
5    Espinacas Baby Orgánicas  1874911.70
6           Aguacate Orgánico  1616056.75
7                      Fresas  1533533.25
8         Arándanos Orgánicos  1444778.50
9    Tomates Cherry Orgánicos  1128040.95

In [25]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

producto = pd.read_sql_query("""
    SELECT id_cliente, SUM(precio_total) AS ingresos
    FROM tickets
    GROUP BY id_cliente
    ORDER BY ingresos DESC
    LIMIT 20
""", conexion)

conexion.close()

print("\nLos 20 clientes que más compran:")
print(producto)

Los 20 clientes que más compran:
    id_cliente  ingresos
0       189425   4784.44
1       145686   4656.01
2        95967   4441.07
3        67870   4381.49
4        51256   4280.17
5       108031   4170.37
6       105213   4164.07
7        66806   4010.08
8       153932   3966.09
9       143296   3887.86
10      175294   3886.68
11        1197   3883.76
12       62239   3873.40
13        5665   3862.69
14       31552   3852.53
15      132274   3842.65
16       14868   3836.05
17      103634   3808.71
18      132022   3803.13
19       94701   3783.81

In [26]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

compra_media = pd.read_sql_query("""
    SELECT SUM(precio_total) / COUNT(DISTINCT id_cliente) AS compra_media
    FROM tickets
""", conexion)

conexion.close()

print("\nCompra media por cliente:")
print(compra_media)

Compra media por cliente:
   compra_media
0    219.099604

In [30]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

total_pedidos = pd.read_sql_query("""
    SELECT COUNT(DISTINCT id_pedido) AS total_pedido
    FROM tickets
""", conexion)

conexion.close()

print("\nTotal de pedidos realizados:")
print(total_pedidos)

Total de pedidos realizados:
   total_pedido
0       2060188

In [33]:
conexion = sqlite3.connect("./datos/sanoyfresco.db")

total_pedidos = pd.read_sql_query("""
    SELECT AVG(precio_total) AS valor_promedio_pedido
    FROM (
        SELECT id_pedido, SUM(precio_total) AS precio_total
        FROM tickets
        GROUP BY id_pedido
    )
""", conexion)

conexion.close()

print("\nValor promedio pedidos:")
print(total_pedidos)

Valor promedio pedidos:
   valor_promedio_pedido
0              19.345261